{% extends 'index.html' %}

{% block content-container %}
    <div id="page-title">
        <h1 class="page-header text-overflow">主机列表</h1>

        <!--Searchbox-->
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="pli-magnifi-glass"></i></button>
                </span>
            </div>
        </div>
    </div>  <!--内容页标题-->


    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">主机管理</a></li>
        <li class="active">批量命令</li>
    </ol>  <!--面包导航-->


    <div id="'page-content">
        {% include "components/hostgroups.html" %}
        <div class="col-lg-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">命令</h3>
                </div>
                <div class="panel-body">
                    <textarea id="cmd" class="form-control"></textarea>
                    <input onclick="PostTask('cmd');" type="button" value="执行" class="btn btn-info pull-right">
                    <input type="button" value="终止" class="btn btn-danger">
                </div>
            </div>
            {% include 'components/taskresult.html' %}
        </div>
    </div>

{% endblock %}

{% block myscript %}
    {% include "components/multitask_js.html" %}
{% endblock %}